/*----- Font Impoted file---*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Oleo+Script&family=Open+Sans:ital,wght@0,700;1,800&family=Poppins&family=Roboto&family=Secular+One&family=Vidaloka&display=swap');



 /*---- Nav section style---- */

 .influencer-nav{
     margin-top: 80px;
     margin-left: 120px;
     font-family: 'Poppins', sans-serif;
     font-weight: bolder;

}



/* -----
Header style 
-----*/


.influencer-intro{
    display: flex;
 
}

.influencer-info{
    width: 582px;
    height: 270px;
    margin-top: 130px;
    margin-left: 120px;
   

}
.influencer-info h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 52px;
}
.influncer-button{
   
     background-color:  #f04684;;
     border: none;
     color: white;
     width: 196px;
     height: 44px;
     border-radius: 41px;

}
.influencer-image img{
    width: 440px;
    height: 414px;
 
}
.influencer-image{
   margin-right: 70px;
   margin-top: 70px;
   margin-left: 131px;
}

/*----- All product list style------- */

.section-title{
    font-family: 'Open Sans', sans-serif;
   font-size: 28px;
   text-align: center;
}
.popular-products{
    margin-left: 160px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.product{
    width: 329px;
    height: 476px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 0;
     border: 1px solid white;
    background-color: white;
    box-shadow: 10px 10px 100px #AAAAAA;
}
.product-price{
    font-size: 19px;
    font-family: 'Open Sons', sans-serif;
}
.product-title{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
.fa-star{
   font-size: 12px;
   
}
.fa-star.filled{
    color: orange;

}
.fa-star.empty{
    color: orange;
}

.products-rating{
    color: #5E6366;
    margin-left: 8px;
}
.porduct-service{
   
    font-family: 'Open Sans', sans-serif;
    color: #787885;
}


@media only screen and (max-width:688) {
    .influencer-intro{
    
       flex-direction: column;
       justify-content: center
       
    }
    .products{
      ;
        grid-template-columns: repeat(1,1fr) ;
    }
    
}

